schema/book.rnc

start = book

book = element book { title, preface, chapter* }

title = element title { text }
preface = element preface { title, text }
chapter = element chapter { title, content* }

content = frame | card | comment | TODO

frame = element frame { question, answer }
question = element question { text, note* }
answer = element answer { text, note* }
note = element note { attribute name { text }, text }

card = element card { attribute kind { "law" | "commandment" }, title, text }

comment = element comment { attribute topic { text }?, title?, text }

TODO = element TODO { text }
